
<h4>Add New Album to Inventory</h4>
  <div class="card">
    <div class="">
      <label>Album title</label>
      <input #newTitle>
    </div>
    <div class="">
      <label>Artist</label>
      <input #newArtist>
    </div>
    <div class="">
      <label>Description</label>
      <br>
      <textarea #newDescription></textarea>
    </div>

  </div>

  <button (click)="submitForm(newTitle.value, newArtist.value, newDescription.value); newTitle.value=''; newArtist.value=''; newDescription.value=''">Add</button>
