<h2>Marketplace</h2>
<!-- 🛍🎵🛍🎵🛍🎵🛍🎵🛍🎵🛍 ALL ALBUMS🎵🛍🎵🛍🎵🛍🎵🛍🎵🛍🎵🛍🎵🛍🎵🛍🎵  -->
<p>All our fine products will be listed here shortly!</p>


<div *ngFor="let album of albums" (click)="goToDetailPage(album)" class="panel panel-default">
  <div class="panel-body">
    <h3><em>{{album.title}}</em> by {{album.artist}}</h3>
  </div>
</div>
<!-- 
<form id="add-album">
  <label>Album title</label>
    <input #inputTitle>
  <label>Artist</label>
    <input #inputArtist>
  <label>Description</label>
    <input #inputDescription>
  <label>Album ID</label>
    <input #inputID>
  <button id="albumID" type="button" (click)="submitForm(inputTitle.value, inputArtist.value, inputDescription.value, inputID.value); inputTitle.value=''; inputArtist.value=''; inputDescription.value=''; inputID.value='';">Add Album</button>
</form> -->
